# Hostaway API Configuration
HOSTAWAY_ACCOUNT_ID=61148
HOSTAWAY_API_KEY=f94377ebbbb479490bb3ec364649168dc443dda2e4830facaf5de2e74ccc9152
HOSTAWAY_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI2MTE0OCIsImp0aSI6IjZlNGI1YjY4MzVjYjA2NmQ3ZjRkOGEyMTJmYmVjZTJiMWI1NDU4MjY2M2IwMjU4MDRjMTcxNDRkNzQwZDYyYzZhYTM1ODUwMjhlODFmMDE5IiwiaWF0IjoxNzU1NzEwMjU4LjAwOTcxNCwibmJmIjoxNzU1NzEwMjU4LjAwOTcxNiwiZXhwIjoyMDcxMjQzMDU4LjAwOTcxOSwic3ViIjoiIiwic2NvcGVzIjpbImdlbmVyYWwiXSwic2VjcmV0SWQiOjY1MzEwfQ.RiHaMdNM8Kkgh60GW52W0ZIOQXAdaXd3O3IfwVFSVSYdZsRaaWoLGw_1KglJIAydM31Iav3NNL0VTl2HmHSM8AITYDUo2bdjiZ6oe6lg-uaChA8-H-A-aTU56zV4WXwkL3B3W07bUihVq3ahdrCDMz1iXQIzMJHet1C5Kbzi8moFj1e4HKEDMsMQiOkFh9qIrZsqrUouA-RLHo9Lt0OtBO8YgzIo73jWJvl7JH6lyjzINCs1RQ5HicjfR0qK-iKqUqubBebIcK1T5wzVdsuL2loKW2uCYzPN24M92_dLumlUw-wXqEiUba6_36P86vv8tUjJhzuTBhkmq4mN3-eybQ
USE_SANDBOX=false

# Google Places API Configuration (optional)
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here

# App Configuration
NODE_ENV=development
